@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

body{
    /*width:1024px;*/
    /*height:768px;*/
    background: black;
}
h1{
    font-family: 'Staatliches', cursive;
    color: whitesmoke;
    font-size: 2em;
    /* margin-left: 500px; */
    top: 90%;
    left: 75%;
    position: fixed;
    z-index: 0;
}
.drumpad{
    height: 650px;
    width: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.controls {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10,105px);
    /* gap: 25px; */
    z-index: 10;
    text-align: center;
}
.control-cell {
    width: 100px;
    height: 70px;
    display: grid;
    grid-template-rows: 85% 15%;
}

.control-count {
    font-size: 3em;
}

.control-title {
    /* border-bottom: solid 2 px; */
    font-size: 0.5em;
    color: white;
    /* text-decoration: underline; */
}
.play-button{
    /* position:absolute; */
    z-index: 20;
    background-image: url("play.png");
    height: 60px;
    width: 60px;
    /* border-radius: 20px; */
    border: black solid 1pt;
    background-color: black;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-top: 50px;
    margin-left: 50px; */

}

.cell-pad{
    position: absolute;
    z-index: 10;
    margin-top: 100px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(16, 60px);
    grid-gap: 3px;
    /*grid-auto-rows: repeat(9, 60px);*/
    height: 500px;
}
.beatStep{
    flex:1;
    display: grid;
    grid-template-rows: repeat(9, 60px);
    grid-gap: 3px;
    height: 564px;
    width: 63px;
    border-radius: 8px;
    opacity: 0.7;
}

.beatStep.currentStep{
    /* background-color: #FFAC00; */
    opacity: 1;
}

.beatStep.currentStep .beatCell{
    transition-duration:opacity 0.4s;
    -moz-transition-duration:opacity 0.4s;
    -webkit-transition-duration:opacity 0.4s;
}

.beatStep.currentStep .beatCell.selected{
    transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
}

.beatCell{
    /* transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s; */
    width:58px;
    height:58px;
    background-repeat: no-repeat;
    background-size: 44px 44px;
    background-position: center;
    border-radius: 2px;
    /* opacity: .5; */
}
.beatCell.selected {
    /* opacity: .7; */
}

.beatCell.fritware.selected{
    background-color: #6374bf;
    opacity: 1;
}
.beatCell.other\/unspecified.selected{
    background-color: #af9278;
}
.beatCell.terracotta.selected{
    background-color: #d17538;
}
.beatCell.ceramic.selected{
    background-color: #fae6cf;
}
.beatCell.pottery.selected{
    background-color: #a3b39d;
}
.beatCell.earthenware.selected{
    background-color: #dd9c85;
}
.beatCell.stoneware.selected{
    background-color:#D9D0C8;
}
.beatCell.clay.selected{
    background-color:#ccb21f;
}
.beatCell.porcelain.selected{
    background-color: #abbfe0;
}
